


<ion-tabs class="tabs-icon-top tabs-stable tabs-color-positive {{hideTabs}} ">

  <!-- Dashboard Tab -->
  <ion-tab title="首页" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" href="#/tab/weibolists">
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-tab>


<!-- Account Tab -->
  <ion-tab title="发现" icon-off="ion-ios-color-wand-outline" icon-on="ion-ios-color-wand" href="#/tab/exploer">
    <ion-nav-view name="member"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="消息" icon-off="ion-ios-email-outline" icon-on="ion-ios-email" href="#/tab/message">
    <ion-nav-view name="member"></ion-nav-view>
  </ion-tab>
  
  
  <!-- Account Tab -->
  <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/my">
    <ion-nav-view name="member"></ion-nav-view>
  </ion-tab>


</ion-tabs>





